<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="1048576"/>
    <authentication mode="Forms">
      <forms protection="All" slidingExpiration="false" loginUrl="Login.aspx" timeout="600"/>
    </authentication>
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
  </system.web>
  <appSettings>
    <add key="adminuser" value="admin"/>
    <add key="adminpass" value="admin"/>
    <add key="defaultPaymentMethod" value="1"/>
    <add key="ChangeProgramOrInstitution" value="7500"/>
    <add key="noofapplications" value="1"/>
    <add key="applicationResetButton" value="1"/>
    <add key="adminUpdatePaymentPin" value="14556"/>
    <add key="applicationVenue" value="VENUE; ICT Center, Beside Wema Bank, The Polytechnic Ibadan"/>
    <add key="imagerootPath_pdf" value="http://apply.polyibadan.edu.ng/Students/profilePics/"/>
    <add key="transcationFee_eWalletDeposit" value="300"/>
    <add key="formresetFee" value="1500"/>
    <add key="acceptanceFee" value="15000"/>
    <add key="admissionSession" value="2015/2016"/>
    <add key="optionalCoursefee" value="1800"/>
    <add key="transcationFee" value="300"/>
    <add key="product_id" value="6204"/>
    <add key="pay_item_id" value="101"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="macKey" value="7DBDD66228161F3D86A7025E3559326357905436032D66CCFB95BC826455CA08A3B18F9826F58B48BF83B229B3C4BB3AF30E22948AC703B7D55DE29670F2B739"/>
    <!--<add key="Bank_Account_Name" value="ZBB Bank " />
    <add key="Bank_Account_No" value="12345712345" />
    <add key="Bank_Name" value="ZBB Bank Ltd" />-->
    <add key="site_redirect_url" value="http://localhost:55011/Payment_Response.aspx?"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  <add key="eWalletTransactions.AddTransaction" value="http://localhost:55011/AddTransaction.asmx"/>
    <add key="PortalName" value="CollegeERP"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR={1}'"/>
    <add name="DefaultConnection" connectionString="Data Source=UMAIRHASHMI\SQLSERVER_2008;Initial Catalog=CollegeERPDB;User Id=sa;Password=sa7237;"/>
    <add name="CollegeERPDBEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UMAIRHASHMI\SQLSERVER_2008;initial catalog=CollegeERPDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>