<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=UMAIRHASHMI\SQLSERVER_2008\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" connectionString="Data Source=UMAIRHASHMI\SQLSERVER_2008;Initial Catalog=CollegeERPDB;User Id=sa;Password=sa7237" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.0"/>

  </system.web>-->
  <appSettings>
    <add key="UserName" value="Admin"/>
    <add key="Password" value="admin123"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
